* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
/*
* {
	border: 1px solid red;
}
*/
body {
	height: 100vh;
	display: grid;
	grid-template-areas: 
    "header header"
    "main main"
    "main main";
  grid-template-rows: 10% 90%;
  grid-template-columns: 50% 50%;
}

header {
	grid-area: header;
	background: #ffffff;
/*	display: flex;
	align-items: center;
	justify-content: center;*/
}

main {
	grid-area: main;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("images/beyonce-COB-bw.png");
  background-position: center bottom;
  background-size: cover;
}

/*********** HEADER **************/

.header__h1--text {
	color: #000000;
	text-align: center;
	margin-top: 17px;
}

.header__menu--container {
	background: #000000;
	float: left;
	height: 100%;
	width: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__menu--icon {
	width: 65px;
	height: 65px;
}

/************** MAIN **************/

.main__section {
	height: 55%;
	width: 50%;
}

.main__left--section {
	width: 50%;
	height: 45%;
	float: left;
}

.main__right--section {
	width: 50%;
	height: 45%;
	float: left;
}

#js__player1--input,
#js__player2--input {
  width: 82%;
  height: 37px;
	background: #ffffff;
	border: none;
}

#js__play--button {
	height: 37px;
	width: 100%;
	background: #000000;
	color: #ffffff;
	font-size: 18px;
}




