* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/** {
	border: 1px solid red;
}*/

body {
	height: 100vh;
	display: grid;
	grid-template-areas: 
    "header header"
    "main main"
    "main main";
  grid-template-rows: 10% 90%;
  grid-template-columns: 50% 50%;
}

header {
	grid-area: header;
	background: #ffffff;
}

main {
	grid-area: main;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("images/beyonce-COB-bw.png");
	background-position: 50% 48%;
  background-size: 170%;
}

/*********** HEADER **************/

.header__h1--text {
	color: #000000;
	text-align: center;
	margin-top: 17px;
	margin-left: -7%;
	font-size: 30px;
  font-weight: 400;
}

.header__menu--container {
	background: #000000;
	float: left;
	height: 100%;
	width: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__menu--icon {
	width: 65px;
	height: 65px;
}

/************** MAIN **************/

.main__section {
	height: 70%;
	width: 55%;
	display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__left--section {
	height: 55%;
  width: 90%;

}

.main__right--section {
	width: 40%;
	height: 45%;
	float: left;
}

.js__player1--input,
.js__player2--input {
	width: 255px;
  height: 40px;
	background: #ffffff;
	border: none;
	font-size: 16px;
	color: #3F3F3F;
	padding-left: 8px;
}

#js__play--button {
	height: 40px;
	width: 100%;
	background: #000000;
	color: #ffffff;
	font-size: 18px;
	margin-top: 10%;
}

.js__user--inputs {
	display: block;
	display: flex;
  flex-direction: row;
}

.js__display--none {
	display: none;
}

.js__game--display {
	display: inline-block;
	height: 75%;
	width: 100%; 
}

#game__rules--container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#game__rule--list {
	margin: 3% 0;
}

#game__empty--message {
	margin: 7px;
	color: #F94B20;
	font-size: 16px;
	font-style: italic;
	font-weight: 600;
}

.input__error {
	border: 2px solid #F94B20;
}

.js__game--card {
	display: inline-block;
	background: orange;
	height: 75%;
	width: 100%;
}

.js__game--section {
	display: none;
}

.js__card--display {
	display: inline;
	height: 100%;
	width: 100%;
	background: #ffffff;
  padding: 2%;
  display: flex;
  flex-direction: row;
}

.player1__stats--column {
	float: left;
	background: #000000;
  height: 670px;
	width: 15%;
	display: inline-block;
	color: #ffffff;
	padding: 1%;
	text-align: center;
}

.player2__stats--column {
	float: right;
	background: #000000;
	height: 670px;
	width: 15%;
	display: inline-block;
	color: #ffffff;
	padding: 1%;
	text-align: center;
}

.main__card--style {
	display: inline-block;
}

.player1__matches--played {
	height: 20%;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	margin: 23% 0;
}

.game__section {
	display: inline-block;
}

.game__row--a,
.game__row--b,
.game__row--c {
	height: 200px;
	display: inline-block;
	width: 874px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.game__card {
	height: 100%;
  width: 125px;
  display: inline-block;
	border: 2px solid #000000;
  font-size: 90px;
  text-align: center;
  padding-top: 34px;
  background: #ffffff;
}

.card-1 {
	background-position: 45% 60%;
  background-size: 307%;
	background-image: url("images/bey1.jpg");
}

.card-2 {
	background-position: 40% 50%;
  background-size: 170%;
	background-image: url("images/bey2.jpg");
}

.card-3 {
	background-position: 45% 60%;
  background-size: 145%;
	background-image: url("images/bey3.jpeg");
}

.card-4 {
	background-position: 45% 60%;
	background-size: 145%;
	background-image: url("images/bey4.jpg");
}

.card-5 {
	background-position: 45% 60%;
  background-size: 307%;
	background-image: url("images/bey5.jpg");
}

#card-a {
	transform: rotate(-20deg);
}

#card-b {
	transform: rotate(17deg);
}

#card-c {
	transform: rotate(-2deg);
}

#card-d {
	transform: rotate(-10deg);
}

#card-e {
	transform: rotate(8deg);
}

#card-f {
	transform: rotate(-23deg);
}

#card-g {
	transform: rotate(-8deg);
}

#card-h {
	transform: rotate(20deg);
}

#card-i {
	transform: rotate(-15deg);
}

#card-j {
	transform: rotate(25deg);
}

.js__p1--header {
	font-size: 14px;
}

.js__p1--header p {
	font-weight: 300;
}







