* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/** {
	border: 1px solid red;
}*/

body {
	height: 100vh;
	display: grid;
	grid-template-areas: 
    "header header"
    "main main"
    "main main";
  grid-template-rows: 10% 90%;
  grid-template-columns: 50% 50%;
}

header {
	grid-area: header;
	background: #ffffff;
/*	display: flex;
	align-items: center;
	justify-content: center;*/
}

main {
	grid-area: main;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("images/beyonce-COB-bw.png");
  background-position: center bottom;
  background-size: cover;
}

/*********** HEADER **************/

.header__h1--text {
	color: #000000;
	text-align: center;
	margin-top: 17px;
}

.header__menu--container {
	background: #000000;
	float: left;
	height: 100%;
	width: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__menu--icon {
	width: 65px;
	height: 65px;
}

/************** MAIN **************/

.main__section {
	height: 70%;
	width: 55%;
	display: flex;
  flex-direction: column;
  justify-content: flex-start;
/*  align-items: ;*/
/*  border: 2px dotted red;*/
}

.main__left--section {
	height: 55%;
  width: 90%;

}

.main__right--section {
	width: 40%;
	height: 45%;
	float: left;
}

.js__player1--input,
.js__player2--input {
	width: 255px;
  height: 40px;
	background: #ffffff;
	border: none;
	font-size: 16px;
	color: #3F3F3F;
	padding-left: 8px;
}

#js__play--button {
	height: 40px;
	width: 100%;
	background: #000000;
	color: #ffffff;
	font-size: 18px;
	margin-top: 10%;
}

.js__user--inputs {
	display: block;
	display: flex;
  flex-direction: row;
}

.js__inputs--display {
	display: none;
}

.js__game--rules {
	display: none;
	height: 65%;
	width: 100%; 
	display: none;
}

.js__game--display {
	display: inline-block;
	height: 75%;
	width: 100%; 
}

#game__rules--container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#game__rule--list {
	margin: 3% 0;
}

#game__empty--message {
	margin: 7px;
	color: #F94B20;
	font-size: 16px;
	font-style: italic;
	font-weight: 600;
}

.input__error {
	border: 2px solid #F94B20;
}





